
<div class="people-index">
    <div class="people-picture">
    {% if post.image %}

	<img width="150" height="150" src="assets/img/people/{{ post.image }}"
	class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
    {% else %}
	<img width="150" height="150" src="assets/img/people/unknown_person.jpg"
	class="attachment-thumbnail size-thumbnail wp-post-image" alt="" />
    {% endif %}

    {% if post.affiliation %}
    <p>{{ post.affiliation }}</p>
    {% endif %}
    </div>

</div>
